[submodule "components/gpio"]
	path = components/gpio
	url = https://github.com/jadjer/esp32-gpio.git
[submodule "components/executor"]
	path = components/executor
	url = https://github.com/jadjer/esp32-executor.git
[submodule "components/stepper"]
	path = components/stepper
	url = https://github.com/jadjer/esp32-stepper.git
[submodule "components/bluetooth"]
	path = components/bluetooth
	url = https://github.com/jadjer/esp32-nimble.git
