menu "Chain Lubrication System"

    config EXTERNAL_POWER_PIN
        int "External power pin"
        default 13
        help
            GPIO number

    menu "Wheel"

        config WHEEL_SENSOR_PIN
            int "Wheel sensor pin"
            default 11
            help
                GPIO number

        config WHEEL_DIAMETER
            int "Wheel diameter"
            default 17
            help
                Wheel diameter in inches

        config WHEEL_MINIMAL_SPEED
            int "Wheel minimal speed"
            default 5
            help
                Wheel minimal speed in m/s

    endmenu

    menu "Pump"

        config PUMP_PIN
            int "Pump pin"
            default 9
            help
                GPIO number

        config PUMP_TIMEOUT
            int "Pump timeout"
            default 60
            help
                Pump timeout in seconds, after pump is disable
    endmenu

    config DISTANCE_OF_ENABLE
        int "Distance of enable"
        default 500000
        help
            Distance in meters

endmenu
